In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd

### Домашнее задание:

Условие: дана таблица с колонками (id, name, salary, managerid). Необходимо написать код на spark, который создает эту таблицу (данные указаны ниже) и в результате выдаст таблицу, в которой будут имена сотрудников, которые зарабатывают больше своих менеджеров

In [ ]:
data = {'id': [1, 2, 3, 4], 'Name': ['Joe', 'Henry', 'Sam', 'Max'],
        'Salary': ['70', '80', '60', '90'], 'ManagerId': ['3', '4', 'Null', 'Null']}
df = pd.DataFrame(data)
df

   id   Name Salary ManagerId
0   1    Joe     70         3
1   2  Henry     80         4
2   3    Sam     60      Null
3   4    Max     90      Null

In [ ]:
spark = SparkSession.builder.appName('managerTable').getOrCreate()

df_pyspark = spark.createDataFrame(df)
df_pyspark.show()

+---+-----+------+---------+
| id| Name|Salary|ManagerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     Null|
|  4|  Max|    90|     Null|
+---+-----+------+---------+

In [ ]:
managers_df = df_pyspark.select('id', 'Salary').withColumnRenamed('id', 'ManagerId').withColumnRenamed('Salary', 'ManagerSalary')
managers_df.show()

+---------+-------------+
|ManagerId|ManagerSalary|
+---------+-------------+
|        1|           70|
|        2|           80|
|        3|           60|
|        4|           90|
+---------+-------------+

In [ ]:
df_joined = df_pyspark.join(managers_df, ['ManagerId'])
df_joined.show()

+---------+---+-----+------+-------------+
|ManagerId| id| Name|Salary|ManagerSalary|
+---------+---+-----+------+-------------+
|        3|  1|  Joe|    70|           60|
|        4|  2|Henry|    80|           90|
+---------+---+-----+------+-------------+

In [ ]:
df_joined.filter(df_joined['Salary'] > df_joined['ManagerSalary']).select(df_joined.Name).show()

+----+
|Name|
+----+
| Joe|
+----+